<?xml version="1.0" ?><!DOCTYPE service-group  SYSTEM 'avahi-service.dtd'>
<service-group>
  <name replace-wildcards="yes">${PRINTER_NAME}</name>
  <service>
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>adminurl=http://${HOSTNAME}/printers/${PRINTER_ID}</txt-record>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>Transparent=T</txt-record>
    <txt-record>URF=DM3</txt-record>
    <txt-record>rp=printers/${PRINTER_ID}</txt-record>
    <txt-record>note=Virtual ${PRINTER_NAME}</txt-record>
    <txt-record>product=(Generic PostScript Printer)</txt-record>
    <txt-record>ty=Generic PostScript Printer</txt-record>
    <txt-record>printer-state=3</txt-record>
    <txt-record>printer-type=0x800004</txt-record>
    <txt-record>application/postscript</txt-record>
    <txt-record>pdl=application/octet-stream,application/pdf,application/postscript,application/vnd.cups-raster,image/gif,image/jpeg,image/png,image/tiff,image/urf,text/html,text/plain,application/msword,application/pclm,application/rss+xml,application/sgml</txt-record>
  </service>
</service-group>
